<!DOCTYPE html>
<html>
<head>
  <title>BiddrAlex</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container container-fluid">
  <h1>BID.DR</h1>
  <h5><%= link_to "View current auctions", root_path %> &middot; <%= link_to "New auction", new_auction_path %></h5>
  <hr>
  <% if flash[:notice] %>
    <div class="alert alert-success">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <% if flash[:alert] %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>


  <%= yield %>
</div>

</body>
</html>
